MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/questionfinder?retryWrites=true&w=majority&appName=QuestionFinder
MONGODB_DB=questionfinder
MONGODB_COLLECTIONS=submissions,questions
PORT=5000
